

:root {
    --color-primary: #ffa45c;
    --color-primary-light: #ffcdab;
    --color-primary-dark: #b97944;

    --color-grey-light-1: #fff4e3;
    --color-grey-light-2: rgb(244, 242, 242);
    --color-grey-light-3: rgb(240, 238, 238);
    --color-grey-light-4: rgb(204, 204, 204);

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(49, 49, 49, 0.144);

    --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 30.25em; //500px
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //=16px ; so 1 rem = 1px

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background: linear-gradient(135deg, rgb(195, 39, 2) 0%,rgb(224, 164, 60) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-grey-dark-2);
    min-height: 100vh;
}

