

:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: rgb(250, 249, 249);
    --color-grey-light-2: rgb(244, 242, 242);
    --color-grey-light-3: rgb(240, 238, 238);
    --color-grey-light-4: rgb(204, 204, 204);

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //=16px ; so 1 rem = 1px
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-grey-dark-2);
    min-height: 100vh;
}
