.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-primary-light);
    box-shadow: var(--shadow-dark);
    min-height: 80rem;
    border-radius: 10px;
    overflow: hidden;


    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
    }
    }

  

.header {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap:wrap;
        height: 12rem;
        align-content: space-around;
    }
}
.content {
display: flex;

@media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  
}
}

.sidebar {
background: radial-gradient(circle at 17% 36%, rgba(35, 35, 35,0.06) 0%, rgba(35, 35, 35,0.06) 25%,rgba(42, 42, 42,0.06) 25%, rgba(42, 42, 42,0.06) 50%,rgba(48, 48, 48,0.06) 50%, rgba(48, 48, 48,0.06) 75%,rgba(55, 55, 55,0.06) 75%, rgba(55, 55, 55,0.06) 100%),radial-gradient(circle at 4% 82%, rgba(0, 0, 0,0.06) 0%, rgba(0, 0, 0,0.06) 25%,rgba(39, 39, 39,0.06) 25%, rgba(39, 39, 39,0.06) 50%,rgba(78, 78, 78,0.06) 50%, rgba(78, 78, 78,0.06) 75%,rgba(117, 117, 117,0.06) 75%, rgba(117, 117, 117,0.06) 100%),radial-gradient(circle at 45% 66%, rgba(64, 64, 64,0.06) 0%, rgba(64, 64, 64,0.06) 25%,rgba(91, 91, 91,0.06) 25%, rgba(91, 91, 91,0.06) 50%,rgba(117, 117, 117,0.06) 50%, rgba(117, 117, 117,0.06) 75%,rgba(144, 144, 144,0.06) 75%, rgba(144, 144, 144,0.06) 100%),linear-gradient(129deg, rgb(29, 29, 29),rgb(24, 24, 24));
flex: 0 0 18%;
display: flex;
flex-direction: column;
justify-content: space-between;



}

.hotel-view {

    background-color: #fff;
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    font-weight: 400;
    display:flex;
    background-color: var(--color-grey-light-2);
    padding: 4.5rem;
    border-bottom: var(--line);
    box-shadow: 2px 2px 15px rgba(41, 41, 41, 0.486);

    @media only screen and (max-width: $bp-medium) {
       padding: 3rem;
       margin-right: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
     }
}

.description {

background-color: #fff;
flex: 0 0 60%;
margin-right: 4.5rem;
padding: 3rem;
box-shadow: var(--shadow-light);
border: 0px solid black;
border-radius: 10px;

@media only screen and (max-width: $bp-small) {
    margin-right:0;
    margin-bottom: 3.5rem;
 }
}

.user-reviews {

    display: flex;
    flex-direction: column;
    flex: 1;

}